@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.Artisanat {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}